.brand:after {
  @include breakpoint($SM) {
    background: url("https://www.bu.edu/cdn/images/logos/masterplate112x50.png") no-repeat 0 0;
    content: "Boston University";
    display:block;
    float:right;
    height:50px;
    margin:35px;
    text-indent:-9999em;
    width:112px;
  }
}
.brand span {
  font-size: 1rem;
}
.brand-masterplate {
  @include breakpoint($SM) {
    display: none;
  }
}
